body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #1a7993;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/background-2.png');
}

.h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.input {
  border: 1px solid #333;
  border-radius: 0.3rem;
  padding: 0.25rem;
  width: 7em;
}

select {
  margin-left: 0.5rem;
  border-radius: 5px;
}

.equals {
  font-weight: bold;
  font-size: 2em;
}

.swap {
  margin-top: 2rem;
  font-size: large;
  color: black;
  background-color: cyan;
  border: 5px solid cyan;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.swap:hover {
  color: cyan;
  background-color: black;
  border: 5px solid black;
  transition: all 0.3s;
}
