body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #1a7993;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/background-2.png');
}

/* h1 {
  margin: 0;
  margin-bottom: 0.5rem;
} */

.input {
  border: 1px solid #333;
  border-radius: 0.3rem;
  padding: 0.9rem;
  width: 15em;
  font-family: montserrat;
  font-size: 15px;
}

select {
  margin-left: 0.5rem;
  border-radius: 5px;
  font-size: 21px;
  padding: 0.55rem;
}

.equals {
  font-weight: bold;
  font-size: 2em;
  margin-left: -25px;
}

.swap {
  margin-top: 2rem;
  margin-bottom: -25px;
  margin-left: -10px;
  font-size: 20px;
  color: white;
  background-color: #0f527e;
  border: 5px solid #0f527e;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.swap:hover {
  background-color: #12669d;
  border: 5px solid #12669d;
  transition: all 0.3s;
}

h1{
  text-align: center;
  margin-top: -20px;
  border-bottom: 1px solid #666;
  font-weight: 700;
}

option{
  width: 100%;
  font-size: 18px;
}
